body {
    margin: auto;
    width: 55%;
    min-width: 20em;
    max-width: 50em;
    padding-top: 4em;
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 0.5em;
    background-color: #f3f3f3;
    text-align: left;
}


h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2f2f2f;
    font-size: 2.75em;
    font-weight: 200;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2f2f2f;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #4f4f4f;
    font-size: 1.35em;
    line-height: 150%;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    color: #3f3f3f;
    line-height: 130%;
    text-align: justify;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;
    color: #2f2f2f;
}

.es { background: #cf1c90; color: #f3f3f3}
.nl { background: #4bac7f; color: #f3f3f3}
.ge { background: #aa4857; color: #f3f3f3}
.mo { background: #0f8554; color: #f3f3f3}
.de { background: #ff8b70; color: #f3f3f3}
.ue { background: #888888; color: #f3f3f3}
.en { background: #6aae4d; color: #f3f3f3}

footer {
  padding-top: 2em;
  padding-bottom: 1em;
}

