body {
    margin: auto;
    width: 65%;
    max-width: 57em;
    padding: 10px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f3f3f3;

}

h1 {

}

h3 {

}

footer {
  padding-top: 2em;
  padding-bottom: 1em;
}

